body {
    background-color: blanchedalmond;
}

#map { 
    height: 75vh;
    width: 80vw; 
    margin: auto;
    padding: 10px;
}

.siteInfo {
    text-align: center;
    margin: auto;
    padding: 10px;
}